*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #0A0A0A;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .title a {
    display: flex;
    margin: 50px 0;
}

header .title a img {
    object-fit: contain;
}


header .title a h1 {
    font-family: 'Felipa', cursive;
    font-size: 4rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    line-height: 3.5rem;
}

header .title a span {
    font-family: 'Felipa', cursive;
    font-size: 2.25rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 60px;
}

header nav ul li a {
    font-size: 1.5rem;
}

main {
    margin: 0 200px;
    height: 100%;
}

main .imagenesInicio {
    display: flex;
    justify-content: space-between;
}